* {
  box-sizing: border-box;
}

.card-container {
  gap: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(18, 18, 18, 0.9);
}
.card-container a {
  text-decoration: none;
  color: inherit;
}
.card-container a .card {
  padding-block-end: 16px;
}
.card-container .card {
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  inline-size: 22vw;
  border-radius: 12px;
  background-color: rgb(30, 30, 30);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.card-container .card img {
  block-size: 100%;
  inline-size: 100%;
  transition: filter 0.3s;
}
.card-container .card .description {
  padding: 15px;
  color: rgb(238, 140, 43);
  margin-block-end: 10px;
}
.card-container .card .description h3 {
  font-size: 1.3vw;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-block-end: 5px;
}
.card-container .card .description p {
  font-size: 0.9vw;
  color: rgba(238, 140, 43, 0.9);
}
.card-container .card .image-container {
  overflow: hidden;
  inline-size: 100%;
  position: relative;
}
.card-container .card .image-container .overlay {
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  block-size: 100%;
  inline-size: 100%;
  position: absolute;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: rgba(238, 140, 43, 0.9);
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s;
  background-color: rgba(40, 40, 40, 0.7);
}
.card-container .card .image-container .overlay h2 {
  margin: 0;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.card-container .card .image-container .overlay p {
  font-size: 1vw;
  text-align: center;
  margin-block-start: 5px;
}
.card-container .card:hover .image-container .overlay {
  opacity: 1;
}
.card-container .card:hover .image-container .overlay h2 {
  opacity: 1;
}
.card-container .card:hover .image-container .overlay p {
  opacity: 1;
}
.card-container .card:hover .card {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
.card-container .card:hover img {
  filter: blur(0.1em);
}

.feedback-container {
  gap: 15px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  background-color: rgba(18, 18, 18, 0.9);
}
.feedback-container .feedback {
  margin: 10px;
  padding: 20px;
  inline-size: 18vw;
  border-radius: 20px;
  color: rgb(238, 140, 43);
  font-family: "Roboto", sans-serif;
  background-color: rgb(30, 30, 30);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}
.feedback-container .feedback:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
.feedback-container .img-view {
  display: flex;
  align-items: center;
  margin-block-end: 10px;
}
.feedback-container .img-view img {
  block-size: 3vw;
  inline-size: 3vw;
  border-radius: 50%;
  margin-inline-end: 10px;
}
.feedback-container .img-view .text h4 {
  margin: 0;
  font-size: 1vw;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
}
.feedback-container .img-view .text h5 {
  margin: 0;
  font-size: 0.8vw;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  color: rgb(136, 136, 136);
}
.feedback-container .feed-view {
  font-size: 1vw;
  font-family: "Roboto", sans-serif;
  color: rgb(136, 136, 136);
}/*# sourceMappingURL=dashboardStyle.css.map */