// Color varialbes for the dashboard
$bg-color: rgba(40,40,40,0.7)
$highlight-font: rgb(238, 140, 43, 0.7)

.card-container
    inline-size: 100%
    display: flex
    flex-direction: row           
    flex-wrap: wrap
    justify-content: space-around
    block-size: 100%

    .card
        cursor: pointer

        img
            transition: 0.3s
            inline-size: 100%
            block-size: 100%

        .image-container
            position: relative
            inline-size: 24vw

            .overlay
                top: 0vh
                opacity: 0
                display: flex
                block-size: 100%
                inline-size: 100%
                position: absolute
                color: $highlight-font
                font-family: Halvetica
                flex-direction: column
                justify-content: center
                background-color: $bg-color
                

                h2
                    font-size: 3vw
                    font-weight: bold
                    text-align: center

                p
                    font-size: 1vw
                    font-weight: normal
            .overlay:hover
                opacity: 1
                

            
            &:hover
                img
                    filter: blur(0.1em)
            .overlay
                opacity: 0
    div.feedback-container

        border: 1px solid black
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-content: flex-end
        justify-content: flex-start

        .feedback
            padding-inline: 1vw
